:root {
  padding: 12px;
  margin: auto;
  --background-color: #404965;
  --first-color: #7d84b2;
  --second-color: #d9dbf1;
  --third-color: #f9f9ed;
  --fourth-color: #dbf4a7;
}

body {
  text-align: center;
  background-color: var(--background-color);
  height: 100%;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
}

.libraryApp {
  padding: 50px 10px;
  margin: auto;
  margin-bottom: 50px;
  max-width: 700px;
  width: 90%;
  background-color: var(--first-color);
  border-radius: 6px;
}

h1 {
  color: var(--fourth-color);
}

hr {
  margin: 30px 50px 30px 50px;
  border: 1px solid var(--background-color);
}

.text-highlight {
  font-weight: 700;
}

.activeTab {
  border: 2px solid var(--fourth-color);
}

.cleanFiltersButton {
  margin: 5px 5px;
  border: 2px solid var(--background-color);
  text-align: right;
  border-radius: 6px;
  padding: 10px 25px;
  color: var(--background-color);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  background-color: var(--second-color);
}

.cleanFiltersButton:hover {
  opacity: 0.7;
  cursor: pointer;
}