:root {
  --background-color: #555B6E;
  --primary-green: #89B0AE;
  --secondary-green: #BEE3DB;
  --white: #FAF9F9;
  --salmon: #FFD6BA;
}

body {
  text-align: center;
  background-color: var(--background-color);
  height: 100%;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
}

.libraryApp {
  padding: 50px 10px;
  margin: auto;
  margin-bottom: 50px;
  max-width: 700px;
  width: 90%;
  background-color: var(--primary-green);
  border-radius: 6px;
}

h1 {
  color: var(--salmon);
}

hr {
  margin: 30px 50px 30px 50px;
  border: 1px solid var(--background-color);
}

.text-highlight {
  font-weight: 700;
}

.tabButton {
  margin: 0px 5px;
  border: 0px solid var(--salmon);
  border-radius: 6px;
  padding: 10px 25px;
  color: var(--salmon);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  background-color: var(--background-color);
}

.tabButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.activeTab {
  border: 2px solid var(--salmon);
}

.cleanFiltersButton {
  margin: 5px 5px;
  border: 2px solid var(--background-color);
  text-align: right;
  border-radius: 6px;
  padding: 10px 25px;
  color: var(--background-color);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  background-color: var(--secondary-green);
}

.cleanFiltersButton:hover {
  opacity: 0.7;
  cursor: pointer;
}