:root {
  --background-color: #555B6E;
  --primary-green: #89B0AE;
  --secondary-green: #BEE3DB;
  --white: #FAF9F9;
  --salmon: #FFD6BA;
}

body {
  text-align: center;
  background-color: var(--background-color);
  height: 100%;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: var(--salmon)
}

hr {
  margin: 30px 50px 30px 50px;
  border: 1px solid var(--background-color);
}

.text-highlight {
  font-weight: 700;
}