.book {
  background-color: var(--second-color);
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  border: 2px solid var(--background-color);
}

.book:hover{
  background-color: var(--third-color);
  border: 2px solid var(--fourth-color);
}

.book__title {
  margin: 15px 20px 5px;
}

.book__attributes > .book__info {
  list-style-type: none; 
  display: inline-block;
  padding: 0px 20px 0px 0px; 
}

.book__attributes {
  margin: 0px 20px;
  padding: 0px; 
  font-size: 12px;
  font-style: italic;
}

.book-header{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
} 

.delete-button {
  padding: 5px 10px;
  align-self: flex-end;
  color: var(--background-color);
  border: 1.5px solid var(--background-color);
  background-color: var(--first-color);
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}

.delete-button:hover {
  opacity: 0.7;
  cursor: pointer;
}